{% extends "base_dashboard.html" %}
{% block content%}

        <main role="main" class="col-md-9 ml-sm-auto col-lg-8 mt-5 py-5 px-4" style="margin: auto;">
        <div class="w-100 bg-success p-3 text-center"><b class="h3">Tu plan actual: Gratuito</b><br><br><button class="btn bg-white">Activar todas las funcionalidades</button></div>
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Dashboard</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group mr-2">
                <a href="{% url 'home_app:assistant_create' %}"><button class="btn btn-sm bg-success text-white">Nuevo asistente</button></a>
              </div>
             
            </div>
          </div>
          <div class="container text-center">
          <div class="row">

          <div class="col-1">
          </div>
          <div class="col-11">
            <div class="container mt-4">
                      <div class="container mt-4">
        <h2>Preguntas y respuestas de {{ business_profile.company_name }}</h2>
        
        {% if faqs %}
            <table class="table table-bordered mt-3">
                <thead>
                    <tr>
                        <th>Pregunta</th>
                        <th>Respuesta</th>
                        <th>Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for faq in faqs %}
                        <tr>
                            <td>{{ faq.question }}</td>
                            <td>{{ faq.answer }}</td>
                            <td><a href="{% url 'home_app:update_faq' faq.id %}"><button class="btn btn-success m-1 w-100">Editar</button></a><br>
                            <a href="{% url 'home_app:delete_faq' faq.id %}"><button class="btn btn-danger m-1 w-100">Eliminar</button></a><br>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No preguntas y respuestas.</p>
        {% endif %}
    </div>
                    </div>
            </div>
          

            </div>
            
              
            

          </div>

          
        </main>

    {% endblock %}