{% extends "base_dashboard.html" %}


{% block head %}
<style>
.bg-color{
    color: white;
    background-color: #8a2be2;
}

/* Efecto Hover */
.bg-color:hover{
    background-color: #6a1bbd; /* Un tono más oscuro en hover */
    border-color: #8a2be2; /* Mantiene el color original en el borde */
}


</style>
{% endblock %}  

{% block content %}

<main role="main" class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="row w-100 justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">
            <div class="card shadow-lg p-4">
                <h1 class="text-center mb-4">Crear Asistente Inteligente</h1>
                <form method="post" enctype="multipart/form-data" id="business-profile-form">
                    {% csrf_token %}

                    <div class="form-steps">

                        <!-- Paso 1: Información de la Empresa -->
                        <div class="form-step" id="step-1">
                          <h3>Información de la Empresa</h3>
                          <div class="mb-3">{{ form.company_name.label_tag }} {{ form.company_name }}</div>
                          <div class="mb-3">{{ form.show_company_name.label_tag }} {{ form.show_company_name }}</div>
                          <div class="mb-3">{{ form.company_logo.label_tag }} {{ form.company_logo }}</div>
                          <div class="mb-3">{{ form.show_company_logo.label_tag }} {{ form.show_company_logo }}</div>
                          <div class="mb-3">{{ form.assistant_url_name.label_tag }} {{ form.assistant_url_name }}</div>
                          <button type="button" class="btn bg-color next-step w-100 mt-3">Siguiente</button>
                      </div>

                        <!-- Paso 2.1: Descripción y Correo Electrónico -->
                        <div class="form-step" id="step-2">
                          <h3>Descripción y Contacto</h3>
                          <div class="mb-3">{{ form.description.label_tag }} {{ form.description }}</div>
                          <div class="mb-3">{{ form.contact_email.label_tag }} {{ form.contact_email }}</div>
                          <button type="button" class="btn btn-secondary prev-step w-100 mt-3">Atrás</button>
                          <button type="button" class="btn bg-color next-step w-100 mt-3">Siguiente</button>
                      </div>

                        <!-- Paso 2.2: Teléfono, Dirección y Horario de Atención -->
                        <div class="form-step" id="step-3">
                          <h3>Teléfono y Dirección</h3>
                          <div class="mb-3">{{ form.phone.label_tag }} {{ form.phone }}</div>
                          <div class="mb-3">{{ form.show_phone_call.label_tag }} {{ form.show_phone_call }}</div>
                          <div class="mb-3">{{ form.website.label_tag }} {{ form.website }}</div>
                          <div class="mb-3">{{ form.address.label_tag }} {{ form.address }}</div>
                          <div class="mb-3">{{ form.business_hours.label_tag }} {{ form.business_hours }}</div>
                          <button type="button" class="btn btn-secondary prev-step w-100 mt-3">Atrás</button>
                          <button type="button" class="btn bg-color next-step w-100 mt-3">Siguiente</button>
                      </div>

                        <!-- Paso 3.1: Redes Sociales (Parte 1) -->
                        <div class="form-step" id="step-4">
                          <h3>Redes Sociales (Parte 1)</h3>
                          <div class="mb-3">{{ form.facebook.label_tag }} {{ form.facebook }}</div>
                          <div class="mb-3">{{ form.show_facebook_button.label_tag }} {{ form.show_facebook_button }}</div>
                          <div class="mb-3">{{ form.whatsapp.label_tag }} {{ form.whatsapp }}</div>
                          <div class="mb-3">{{ form.show_whatsapp_button.label_tag }} {{ form.show_whatsapp_button }}</div>
                          <div class="mb-3">{{ form.instagram.label_tag }} {{ form.instagram }}</div>
                          <div class="mb-3">{{ form.show_instagram_button.label_tag }} {{ form.show_instagram_button }}</div>
                          <button type="button" class="btn btn-secondary prev-step w-100 mt-3">Atrás</button>
                          <button type="button" class="btn bg-color next-step w-100 mt-3">Siguiente</button>
                      </div>

                        <!-- Paso 3.2: Redes Sociales (Parte 2) -->
                        <div class="form-step" id="step-5">
                          <h3>Redes Sociales (Parte 2)</h3>
                          <div class="mb-3">{{ form.youtube.label_tag }} {{ form.youtube }}</div>
                          <div class="mb-3">{{ form.show_youtube_button.label_tag }} {{ form.show_youtube_button }}</div>
                          <div class="mb-3">{{ form.tiktok.label_tag }} {{ form.tiktok }}</div>
                          <div class="mb-3">{{ form.show_tiktok_button.label_tag }} {{ form.show_tiktok_button }}</div>
                          <div class="mb-3">{{ form.twitterx.label_tag }} {{ form.twitterx }}</div>
                          <div class="mb-3">{{ form.show_twitterx_button.label_tag }} {{ form.show_twitterx_button }}</div>
                          <div class="mb-3">{{ form.telegram.label_tag }} {{ form.telegram }}</div>
                          <div class="mb-3">{{ form.show_telegram_button.label_tag }} {{ form.show_telegram_button }}</div>
                          <button type="button" class="btn btn-secondary prev-step w-100 mt-3">Atrás</button>
                          <button type="button" class="btn bg-color next-step w-100 mt-3">Siguiente</button>
                      </div>

                        <!-- Paso 4: Personalización de Colores -->
                        <div class="form-step" id="step-6">
                          <h3>Imágenes y Personalización</h3>
                          <div class="mb-3">{{ form.assistant_image.label_tag }} {{ form.assistant_image }}</div>
                          <div class="mb-3">{{ form.show_assistant_image.label_tag }} {{ form.show_assistant_image }}</div>
                          <div class="mb-3">{{ form.background_image.label_tag }} {{ form.background_image }}</div>
                          <div class="mb-3">{{ form.show_background_image.label_tag }} {{ form.show_background_image }}</div>
                          <div class="mb-3">{{ form.show_return_to_web.label_tag }} {{ form.show_return_to_web }}</div>
                          <button type="button" class="btn btn-secondary prev-step w-100 mt-3">Atrás</button>
                          <button type="button" class="btn bg-color next-step w-100 mt-3">Siguiente</button>
                      </div>


                      <div class="form-step" id="step-7">
                        <h3>Personalización de Colores</h3>
                        <div class="mb-3">{{ form.background_color.label_tag }} {{ form.background_color }}</div>
                        <div class="mb-3">{{ form.show_background_color.label_tag }} {{ form.show_background_color }}</div>
                        <div class="mb-3">{{ form.form_background_color.label_tag }} {{ form.form_background_color }}</div>
                        <div class="mb-3">{{ form.button_background_color.label_tag }} {{ form.button_background_color }}</div>
                        <div class="mb-3">{{ form.button_text_color.label_tag }} {{ form.button_text_color }}</div>
                        <div class="mb-3">{{ form.chat_customer_text_color.label_tag }} {{ form.chat_customer_text_color }}</div>
                        <div class="mb-3">{{ form.chat_assistant_text_color.label_tag }} {{ form.chat_assistant_text_color }}</div>
                        <button type="button" class="btn btn-secondary prev-step w-100 mt-3">Atrás</button>
                        <button type="submit" class="btn bg-color w-100 mt-3">Guardar</button>
                    </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</main>

<style>
  body {
      background-color: #f8f9fa;
  }
  
  .card {
      border-radius: 10px;
      background: white;
      max-width: 100%;
      padding: 25px;
      margin-top: 100px; /* Asegura margen en pantallas grandes */
  }
  
  @media (max-width: 768px) {
      .card {
          margin-top: 160px; /* Aumenta el margen en móviles */
      }
  }
  </style>
<!-- JavaScript para Manejo de Pasos -->
<script>
  document.addEventListener("DOMContentLoaded", function () {
      let currentStep = 0;
      const steps = document.querySelectorAll(".form-step");
      const nextBtns = document.querySelectorAll(".next-step");
      const prevBtns = document.querySelectorAll(".prev-step");
      const form = document.getElementById("business-profile-form");
  
      function showStep(stepIndex) {
          steps.forEach((step, index) => {
              step.style.display = index === stepIndex ? "block" : "none";
          });
          document.querySelector(".card").scrollIntoView({ behavior: "smooth" });
      }
  
      nextBtns.forEach((button) => 
          button.addEventListener("click", () => { 
              if (currentStep < steps.length - 1) showStep(++currentStep); 
          })
      );
  
      prevBtns.forEach((button) => 
          button.addEventListener("click", () => { 
              if (currentStep > 0) showStep(--currentStep); 
          })
      );
  
      // 🚀 Mostrar mensaje "Guardando cambios..." y redirigir después de 2 segundos
      form.addEventListener("submit", function (event) {
          event.preventDefault();
          
          // Mostrar mensaje de guardado
          form.innerHTML = `<h2 class='text-success text-center'>Guardando cambios...</h2>`;
          
          // Redirigir después de 2 segundos
          setTimeout(() => {
              window.location.href = "/dashboard/";  // 🔄 Cambia "/dashboard/" por la URL de la página principal
          }, 2000);
      });
  
      showStep(currentStep);
  });
  </script>
{% endblock %}
