{% extends "base_dashboard.html" %}
{% block content%}

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div class="w-100 bg-success p-3 text-center"><b class="h3">Tu plan actual: Gratuito</b><br><br><button class="btn bg-white">Activar todas las funcionalidades</button></div>
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Dashboard</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group mr-2">
                <a href="{% url 'home_app:assistant_create' %}"><button class="btn btn-sm bg-success text-white">Nuevo asistente</button></a>
              </div>
             
            </div>
          </div>
          <div class="container text-center">
          <div class="row">

          <div class="col-1">
          </div>
          <div class="col-11">
            <div class="container mt-4">
                      <div class="container mt-4">
        <h2>Servicios de {{ business_profile.company_name }}</h2>
        
        {% if services %}
            <table class="table table-bordered mt-3">
                <thead>
                    <tr>
                        <th>Imagen</th>
                        <th>Nombre</th>
                        <th>Descripción</th>
                        <th>Precio</th>
                        <th>Disponible</th>
                        <th>Modificar</th>
                    </tr>
                </thead>
                <tbody>
                    {% for service in services %}
                        <tr>
                            <td>
                                {% if service.image %}
                                    <img src="{{ service.image.url }}" alt="{{ service.name }}" width="50">
                                {% else %}
                                    No image
                                {% endif %}
                            </td>
                            <td>{{ service.name }}</td>
                            <td>{{ service.description }}</td>
                            <td>${{ service.price }}</td>
                            <td>{{ service.available|yesno:"Sí,No" }}</td>
                            <td><a href="{% url 'home_app:update_service' service.id %}"><button class="btn btn-success m-1 w-100">Modificar</button></a><br>
                            <a href="{% url 'home_app:delete_service' service.id %}"><button class="btn btn-danger m-1 w-100">Eliminar</button></a><br>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No hay servicios registrados.</p>
        {% endif %}
    </div>
                    </div>
            </div>
          

            </div>
            
              
            

          </div>

          
        </main>

    {% endblock %}